@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  --light-blue: #232399;
  --medium-blue: #191970;
  --dark-blue: #002244;
  --vibrant-blue: #3f00ff;
}

/* ========Typography========== */
a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 1.8rem;
  color: white;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 200;
}

.btn {
  padding: 0.5em 1em;
  background-color: var(--vibrant-blue);
  border-radius: 20px;
}
/* ========General layouting============ */
.main-header,
.hero {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .main-header,
  .hero,
  .social-links-list {
    width: 85%;
    margin: 0 auto;
  }
}

.logo {
  height: 80px;
}

.burger-menu {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
}
.bar:nth-child(2) {
  width: 70%;
  align-self: flex-end;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
}
